on: [push]

jobs:
  Gherkin-lint:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v6

    - name: Gherkin Linter
      uses: restqa/gherkin-linter-action@0.0.1
      with:
        path: 'features/'
        config_file: 'features/.gherkin-lintrc'
